* {
  margin: 0;
  padding: 0;
}

.header__container {
  background-color: #129799;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

nav {
  padding: 1em;
  width: 50%;
}

.navegacao {
  display: flex;
  justify-content: space-evenly;
}

.navegacao li {
  list-style: none;
}

.navegacao a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

.header__title-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 200px;
}

h1 {
  color: white;
  font-size: 2em;
}

.life_img {
  width: 300px;
}

.list__works {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding-bottom: 1em;
}

.list__works a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

/* Estilização main */

.main__container {
  background-color: #ffa185;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 20px;
}

.main__section-namedescription {
  width: 85%;
  padding: 1em;
}

.main__section-namedescription h3 {
  color: white;
  font-size: 2em;
  margin-bottom: 5px;
}

.main__section-namedescription p {
  font-size: 1.3em;
}

.gallery-img img {
  margin: 0 8px;
}

/* Estilização footer */
.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #129799;
  padding: 1em;
}

.texto {
  display: flex;
  justify-content: space-evenly;
}

.texto a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
